<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panic Lab Game</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;500;700&family=Spline+Sans+Mono:wght@500&family=Staatliches&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="game_board">
        <div id=cell1 class="cell"> 1</div>
        <div id=cell2 class="cell"> 2</div>
        <div id=cell3 class="cell"> 3</div>
        <div id=cell4 class="cell"> 4</div>
        <div id=cell5 class="cell"> 5</div>
        <div id=cell6 class="cell"> 6</div>
        <div id=cell7 class="cell"> 7</div>
        <div id=cell8 class="cell"> 8</div>
        <div id=cell9 class="cell"> 9</div>
        <div id=cell10 class="cell"> 10</div>
        <div id=cell11 class="cell"> 11</div>
        <div id=cell12 class="cell"> 12</div>
    </div>
    <div class="center-content">
        <div id="generate_div">
        <button id="generate-button" class="glow-on-hover">Generate Bacteria</button>
        <img class = 'blue_round_monster'  src="images/blue round.png" alt="img">
        <img class = 'blue_square_monster'  src="images/blue square.png" alt="img">
        <img class = 'red_round_monster'  src="images/red round.png" alt="img">
        <img class = 'red_square_monster' src='images/red square.png' alt="img">
        </div>
        <form action="#" class="form_main">
            <div class="color_select">
            <label class="label_color" for="input_color"></label>
            <select name="color" id="input_color">
                <option value="" disabled selected>Select bacteria color</option>
                <option value="red">Red</option>
                <option value="blue">Blue</option>
            </select>
            </div>
            <div class="shape_select" id="shape-select-container">
            </div>
            <button class="button_submit" type="submit" value="submit">Submit</button>
        </form>
    </div>
</body>
<script src="script.js"></script>
</html>